__pycache__/
*.pyc
venv/
.venv/
.DS_Store
*.log
*.pkl
.streamlit/secrets.toml


Day-20/output/*.mp4
Day-20/output/challenge/*.mp4
**/PPE-DETECTION-14/
Day-20/*.pt
Day-29/botsort_reid.yaml
Day-29/bytetrack_tuned.yaml